{{> header}}
<title>SaaS Map Login</title>
</head>
<body>
    <div class="container">
    {{> menu}}
        <h1>SaaS Map Project - Login</h1>
        <form action="/login" method="POST">
            <div class="row">
                <div class="col-4">
                    <label for="inputUsername" class="form-label">User Name</label>
                    <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter User Name">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter a password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {{#message}}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {{/message}}
{{> footer}}