{{> header}}
<title>SaaS Map Admin Page</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>SaaS Map Project - Add a Person</h1>
        <p>Put a form here to add a person to the DB.
        </p>
    </div>
{{> footer}}