{{> header}}
<title>SaaS Map Add Institutional Relationship</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>SaaS Map Project - Add Institutional Investment Relationship</h1>
        <hr>
        <form action="/users/add-insto" method="POST">
            <div class="input-group">
                <span class="input-group-text" for="investorid">Investor</span>
                <select name="investorid" class="form-select" id="investorid">
                    {{#org}}
                    <option value={{id}}>{{orgname}}</option>
                    {{/org}}
                </select>
                <span class="input-group-text" for="investeeid">Investment</span>
                <select name="investeeid" class="form-select" id="investeeid">
                    {{#org}}
                    <option value={{id}}>{{orgname}}</option>
                    {{/org}}
                </select>
                <span class="input-group-text" for="roundtype">Round Type</span>
                <select name="roundtype" class="form-select" id="roundtype">
                    <option value="seed">Seed Round</option>
                    <option value="seriesa">Series A</option>
                    <option value="seriesb">Series B</option>
                    <option value="seriesc">Series C</option>
                    <option value="seriesd">Series D+</option>
                    <option value="private">Private Placement</option>
                    <option value="debt">Debt Round</option>
                    <option value="acquire">Acquisition</option>
                </select>
                <button type="submit" class="btn btn-primary">Add Relationship</button>
            </div>
        </form>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}