{{> header}}
<title>SaaS Map Admin Page</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>SaaS Map Project - Add an Organization</h1>
        <p>Put a form here to add Companies and VC Firms.
        </p>
    </div>
{{> footer}}