{{> header}}
<title>SaaS Map Admin Page</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>SaaS Map Project - Admin Page</h1>
        <p>VC Portfolios</p>
        <a href="/users/a16z/"><button class="btn btn-outline-secondary">a16z SaaS</button></a>
        <a href="/users/greylock/"><button class="btn btn-outline-secondary">Greylock SaaS</button></a>
        <a href="/users/dfj/"><button class="btn btn-outline-secondary">DFJ SaaS</button></a>
        <a href="/users/sequoia/"><button class="btn btn-outline-secondary">Sequoia SaaS</button></a>
        <a href="/users/bayarea/"><button class="btn btn-outline-secondary">Bay Area Series A</button></a>
        <p>Investors</p>
        <a href="/users/vc/"><button class="btn btn-outline-secondary">Venture Capital</button></a>
        <a href="/users/bavcpe/"><button class="btn btn-outline-secondary">California VC PE</button></a>
        <a href="/users/sfvcpe/"><button class="btn btn-outline-secondary">SF VC PE</button></a>
        <p>Other Screens</p>
        <a href="/users/turtle/"><button class="btn btn-outline-secondary">Turtle</button></a>
        <a href="/users/forge/"><button class="btn btn-outline-secondary">Forge</button></a>
        <a href="/users/btc/"><button class="btn btn-outline-secondary">BTC</button></a>
        <div class="row">
            <div class="col-6">
                <h2>Organizations</h2>
                <ul>
                {{#orgs}}
                    <li><a href="/users/organization/{{id}}">{{orgname}}</a></li>
                {{/orgs}}
                </ul>
            </div>
            <div class="col-6">
                <h2>People</h2>
                <ul>
                {{#people}}
                    <li><a href="/users/person/{{id}}">{{firstname}} {{lastname}}</a></li>
                {{/people}}
                </ul>
            </div>
        </div>
    </div>
{{> footer}}