{{> header}}
<title>SaaS Map Admin Page</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>SaaS Map Project - Admin Page</h1>
        <h2>VC Portfolios</h2>
        <a href="/users/a16z/"><button class="btn btn-outline-secondary">a16z SaaS</button></a>
        <a href="/users/greylock/"><button class="btn btn-outline-secondary">Greylock SaaS</button></a>
        <a href="/users/dfj/"><button class="btn btn-outline-secondary">DFJ SaaS</button></a>
        <a href="/users/sequoia/"><button class="btn btn-outline-secondary">Sequoia SaaS</button></a>
        <a href="/users/bayarea/"><button class="btn btn-outline-secondary">Bay Area Series A</button></a>
        <h2>Investors</h2>
        <a href="/users/vc/"><button class="btn btn-outline-secondary">Venture Capital</button></a>
        <a href="/users/bavcpe/"><button class="btn btn-outline-secondary">California VC PE</button></a>
        <a href="/users/sfvcpe/"><button class="btn btn-outline-secondary">SF VC PE</button></a>
        <a href="/users/angel/"><button class="btn btn-outline-secondary">Angel</button></a>
        <a href="/users/familyoffice/"><button class="btn btn-outline-secondary">Family Office</button></a>
        <h2>Other Screens</h2>
        <a href="/users/vex/"><button class="btn btn-outline-secondary">Vex</button></a>
        <a href="/users/turtle/"><button class="btn btn-outline-secondary">Turtle</button></a>
        <a href="/users/forge/"><button class="btn btn-outline-secondary">Forge</button></a>
        <br>
        <div class="row gx-8">
            <div class="col-3">
                <h2>Organizations</h2>
                <ul style="height:200px;border:1px solid black;overflow-y:scroll;">
                {{#orgs}}
                    <li><a href="/users/organization/{{id}}">{{orgname}}</a></li>
                {{/orgs}}
                </ul>
            </div>
            <div class="col-3">
                <h2>People</h2>
                <ul style="height:200px;border:1px solid black;overflow-y:scroll;">
                {{#people}}
                    <li><a href="/users/person/{{id}}">{{firstname}} {{lastname}}</a></li>
                {{/people}}
                </ul>
            </div>
        </div>
        <h2>Sectors</h2>
        <a href="/users/ai/"><button class="btn btn-outline-secondary">AI</button></a>
        <a href="/users/analytics/"><button class="btn btn-outline-secondary">Analytics</button></a>
        <a href="/users/autonomousvehicles/"><button class="btn btn-outline-secondary">Autonomous Vehicles</button></a>
        <a href="/users/biotech/"><button class="btn btn-outline-secondary">Biotech</button></a>
        <a href="/users/bitcoin/"><button class="btn btn-outline-secondary">Bitcoin</button></a>
        <a href="/users/cancer/"><button class="btn btn-outline-secondary">Cancer</button></a>
        <a href="/users/cloud/"><button class="btn btn-outline-secondary">Cloud</button></a>
        <a href="/users/consumerelectronics/"><button class="btn btn-outline-secondary">Consumer Electronics</button></a>
        <a href="/users/crypto/"><button class="btn btn-outline-secondary">Crypto</button></a>
        <a href="/users/cryptocurrency/"><button class="btn btn-outline-secondary">Cryptocurrency</button></a>
        <a href="/users/cybernetics/"><button class="btn btn-outline-secondary">Cybernetics</button></a>
        <a href="/users/data/"><button class="btn btn-outline-secondary">Data</button></a>
        <a href="/users/defense/"><button class="btn btn-outline-secondary">Defense</button></a>
        <a href="/users/energy/"><button class="btn btn-outline-secondary">Energy</button></a>
        <a href="/users/fintech/"><button class="btn btn-outline-secondary">Fintech</button></a>
        <a href="/users/financialservices/"><button class="btn btn-outline-secondary">Financial Services</button></a>
        <a href="/users/firmware/"><button class="btn btn-outline-secondary">Firmware</button></a>
        <a href="/users/foodtech/"><button class="btn btn-outline-secondary">FoodTech</button></a>
        <a href="/users/logistics/"><button class="btn btn-outline-secondary">Logistics</button></a>
        <a href="/users/machinelearning/"><button class="btn btn-outline-secondary">Machine Learning</button></a>
        <a href="/users/medicaldevice/"><button class="btn btn-outline-secondary">Medical Device</button></a>
        <a href="/users/messaging/"><button class="btn btn-outline-secondary">Messaging</button></a>
        <a href="/users/mobile/"><button class="btn btn-outline-secondary">Mobile</button></a>
        <a href="/users/nft/"><button class="btn btn-outline-secondary">NFT</button></a>
        <a href="/users/networking/"><button class="btn btn-outline-secondary">Networking</button></a>
        <a href="/users/onlinegaming/"><button class="btn btn-outline-secondary">Online Gaming</button></a>
        <a href="/users/onlineportals/"><button class="btn btn-outline-secondary">Online Portals</button></a>
        <a href="/users/python/"><button class="btn btn-outline-secondary">Python</button></a>
        <a href="/users/realestate/"><button class="btn btn-outline-secondary">Real Estate</button></a>
        <a href="/users/renewableenergy/"><button class="btn btn-outline-secondary">Renewable Energy</button></a>
        <a href="/users/ridehailing/"><button class="btn btn-outline-secondary">Ride Hailing</button></a>
        <a href="/users/robotics/"><button class="btn btn-outline-secondary">Robotics</button></a>
        <a href="/users/saas/"><button class="btn btn-outline-secondary">SaaS</button></a>
        <a href="/users/securefilemanagement/"><button class="btn btn-outline-secondary">Secure File Management</button></a>
        <a href="/users/security/"><button class="btn btn-outline-secondary">Security</button></a>
        <a href="/users/socialmedia/"><button class="btn btn-outline-secondary">Social Media</button></a>
        <a href="/users/voip/"><button class="btn btn-outline-secondary">VOIP</button></a>
    </div>
{{> footer}}