{{> header}}
<title>SaaS Map Admin Page</title>
</head>
<body>
    <div class="container">
    {{> menu}}
        <h1>SaaS Map Project - Admin Page</h1>
        <p>Will put links to the various tables here.
        </p>
    </div>
{{> footer}}