{{> header}}
<title>SaaS Map California Venture Capital Page</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>SaaS Map Project - California VC and PE Firms Page</h1>
        <table>
            <tr><th>Company</th><th>Location</th></tr>
            {{#companies}}
            <tr><td><a href="/users/organization/{{id}}">{{orgname}}</a></td><td>{{location}}</td></tr>
            {{/companies}}
        </table>
    </div>
{{> footer}}