{{> header}}
<title>Sector - Firmware</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        <h1>Sector - Firmware Page</h1>
        <table>
            <tr><th>Company</th><th>Description</th><th>Location</th></tr>
            {{#companies}}
            <tr><td><a href="/users/organization/{{id}}">{{orgname}}</a></td><td>{{description}}</td><td>{{location}}</td></tr>
            {{/companies}}
        </table>
    </div>
{{> footer}}