{{> header}}
<title>SaaS Map Company Page</title>
</head>
<body>
    <div class="container">
    {{> usermenu}}
        {{#organization}}
        <h1>SaaS Map Project - {{orgname}}</h1>
        <hr>
        <h3>Details</h3>
        <table>
        <!-- 
        <tr></tr>
        <th></th>
        <td></td>
        -->
        <tr><td>Organization:</td><td>{{orgname}}</td></tr>
        <tr><td>Description:</td><td>{{description}}</td></tr>
        <tr><td>Location:</td><td>{{location}}</td></tr>
        <tr><td>Website:</td><td><a href="{{website}}" target="_blank">{{website}}</a></td></tr>
        <tr><td>Link:</td><td><a href="{{link}}" target="_blank">{{link}}</a></td></tr>
        </table>
        {{/organization}}
        <h3>Sector Focus</h3>
        {{#sector}}
            <button class="btn btn-outline-secondary">{{sectorname}}</button>
        {{/sector}}
        <form action="/users/add-sector" method="POST">
            <div class="input-group">
                <input type="text" name="sectorname" class="form-control" placeholder="SaaS/Crypto/Venture Capital" />
                {{#organization}}
                <input type="hidden" name="orgid" class="form-control" value="{{id}}" />
                {{/organization}}
                <button type="submit" class="btn btn-primary">Add Sector</button>
            </div>
        </form>
        <hr>
        <h3>Management/Staff</h3>
        <table>
        {{#staff}}
        <tr><td>{{position}} - </td><td><a href="/users/person/{{id}}">{{firstname}} {{lastname}}</a></td></tr>
        {{/staff}}
        </table>
        <hr>
        <h3>Investors</h3>
        <table>
        {{#investor}}
        <tr><td>{{position}} - </td><td><a href="/users/person/{{id}}">{{firstname}} {{lastname}}</a></td></tr>
        {{/investor}}
        </table>
        <br>
        <table>
        {{#vc}}
        <tr><td><a href="/users/organization/{{id}}">{{orgname}}: </a></td><td>{{roundtype}}</td></tr>
        {{/vc}}
        </table>
        <hr>
        <h3>Investments</h3>
        <table>
        {{#investment}}
        <tr><td><a href="/users/organization/{{id}}">{{orgname}}: </a></td><td>{{roundtype}}</td></tr>
        {{/investment}}
        </table>
        <hr>
        <h3>Board/Advisors</h3>
        <table>
        {{#advisor}}
        <tr><td>{{position}} - </td><td><a href="/users/person/{{id}}">{{firstname}} {{lastname}}</a></td></tr>
        {{/advisor}}
        </table>
        <hr>
        <h3>Comments</h3>
        <form action="/users/add-orgcomment" method="POST">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="add a title" name="title" id="title" />
            <label for="body" class="form-label">Comments</label>
            <input type="text" class="form-control" placeholder="add comments here" name="body" id="body" />
            {{#organization}}
                <input type="hidden" name="orgid" class="form-control" value="{{id}}" />
            {{/organization}}
            <button type="submit" class="btn btn-primary">Add Note</button>
        </form>
        {{#comment}}
            <hr>
            <h4>{{title}}</h4>
            <p>{{body}}</p>
            <form action="/users/delete-orgcomment" method="POST">
                <input type="hidden" name="commentid" value="{{id}}" />
                <input type="hidden" name="orgid" value="{{orgid}}" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {{/comment}}
        <hr>
    </div>
{{> footer}}